@{
	ViewData["Title"] = "Товары";
}
<div>
	<h2>Электроника</h2>
	<table width="100%" class="table table-striped table-hover table-bordered">
		<thead>
			<tr class="head">
				<th scope="col">Id</th>
				<th scope="col">Название</th>
				<th scope="col">Цена</th>
				<th scope="col">На складе</th>
				<th scope="col">Продано</th>
				<th scope="col">Поставлено</th>
				<th scope="col">Тип</th>
				<th scope="col">Производитель</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div width="100%" class="buttons">
		<button id="add" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Добавить товар</button>
		<button id="edit" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal" disabled>Изменить</button>
		<button id="addInCart" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addInCartModal" disabled>Добавить в корзину</button>
		<button id="delete" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" disabled>Удалить товар</button>
	</div>

	<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Добавить/Изменить товар</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<form class="needs-validation" novalidate>
						<div class="input-group mb-3">
							<span class="input-group-text">Название:</span>
							<input type="text" class="form-control" required id="name" />
							<div class="invalid-feedback">Пожалуйста, введите название товара</div>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Цена за штуку:</span>
							<input type="number" class="form-control" min="1" required id="price" />
							<div class="invalid-feedback">Пожалуйста, введите цену товара</div>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Тип электроники:</span>
							<select class="form-select" required id="electronicsType">
								<option value="" disabled selected>--Выберите тип--</option>
								<option value="other">--Другой--</option>
							</select>
							<div class="invalid-feedback">Пожалуйста, выберете тип электроники</div>
						</div>
						<div class="input-group mb-3">
							<span class="input-group-text">Производитель:</span>
							<select class="form-select" required id="manufacturer">
								<option value="" disabled selected>--Выберите производителя--</option>
							</select>
							<div class="invalid-feedback">Пожалуйста, выберете производителя</div>
						</div>
						<div class="modal-footer">
							<button id="saveBtn" type="submit" class="btn btn-primary">Добавить/Изменить</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="addInCartModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Добавить в корзину</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<form class="needs-validation" novalidate>
						<div class="input-group mb-3">
							<span class="input-group-text">Количество:</span>
							<input type="number" class="form-control" min="1" required id="quantity" />
							<div class="invalid-feedback">Пожалуйста, введите количество товаров</div>
						</div>
						<div class="modal-footer">
							<button id="addBtn" type="submit" class="btn btn-primary">Добавить</button>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="addType" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Добавить тип</h5>
					<button id="closeBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<form class="needs-validation" novalidate id="addTypeForm">
						<div class="input-group mb-3">
							<span class="input-group-text">Тип:</span>
							<input type="text" class="form-control" required id="type" />
							<div class="invalid-feedback">Пожалуйста, введите тип товара</div>
						</div>
						<div class="modal-footer">
							<button id="saveTypeBtn" type="submit" class="btn btn-primary">Добавить</button>
							<button id="cancellationBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Удалить товар</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
				</div>
				<div class="modal-body">
					<p>
						Вы точно хотите удалить товар?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
					<button id="deleteBtn" type="button" class="btn btn-danger" data-bs-dismiss="modal">Удалить</button>
				</div>
			</div>
		</div>
	</div>
	<div width="100%" class="buttons">
		<button id="unload" name="electronics" type="button" class="btn btn-success">Выгрузть товаров в Excel</button>
	</div>
	<div id="unloadInfoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="unloadInfoModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Товары выгружены</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal">ОК</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="~/js/electronics.js" asp-append-version="true"></script>